body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS11yHjNYyDLvqcGqWeJqMSkW5_-cfxz2IkyA&usqp=CAU");
    background-repeat: repeat-y;
    background-size: cover;
    opacity: 1  ;
    font-weight: bold;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
